<style>

  .container {
    display: flex;
    padding: 50px 0;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .button {
    color: #FAFAFA;
    font-size: x-large;
    text-align: center;
    line-height: 124px;
    width: 265px;
    height: 124px;
    margin: 30px;
    background: #DC4545;
    opacity: 0.9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    transform: rotate(0.27deg);
  }

  .list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
  }

  .text-color {
    height: auto !important;
    color: #FAFAFA;
  !important;
  }

  .card-style {
    display: flex;
    min-width: 10vh;
    margin: 0 40px;
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    background-color: #dc4545;
    opacity: 0.8;
    border-radius: 31px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .row-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

  .token {
    font-size: 30px;
  }

  .smaller-button {
    width: 177px;
    height: 83px;
    line-height: 83px;
    text-align: center;
  }

  .input {
    color: #FAFAFA;
    margin-top: 20px;
  }

  .year-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  @media screen and (max-width: 700px) {

    .container {
      flex-direction: column;
      padding: 20px;
    }

    .button {
      line-height: 83px;
      text-align: center;
    }

    .card-style {
      width: 30vh;
      min-height: 40vh;
      margin: 20px;
    }

    .list-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 0.5fr);
      padding-left: 25px;
    }

    .row-container {
      flex-direction: column;
      align-items: center
    }

    .year-container {
      flex-direction: column;
      align-items: center;
    }


  }

</style>

<div class="items-container">

  <div class="row-container">
    <p class="token">Token: {{this.token}}</p>
    <button mat-icon-button matTooltip="Copy link">
      <mat-icon>filter_none</mat-icon>
    </button>
  </div>

  <div class="container">
    <div class="card-style">
      <app-user-list></app-user-list>
    </div>

    <mat-card class="card-style">
      <mat-card-title class="text-color">Types of movies</mat-card-title>

      <mat-selection-list [(ngModel)]="selectedGenre">
        <div class="list-wrapper">
          <mat-list-option class="text-color" *ngFor="let film of genres">
            {{film.name}}
          </mat-list-option>
        </div>
      </mat-selection-list>

      <mat-card-title class="text-color">Years</mat-card-title>
      <div class="year-container">
        <mat-form-field class="input" [(ngModel)]="yearDown" ngDefaultControl>
          <mat-label>YearDown</mat-label>
          <input matInput maxlength="4" placeholder="1900" value="1900">
        </mat-form-field>

        <mat-form-field class="input" [(ngModel)]="yearUp" ngDefaultControl>
          <mat-label>YearUp</mat-label>
          <input matInput maxlength="4" placeholder="2021" value="2021">
        </mat-form-field>
      </div>


    </mat-card>
  </div>

  <div class="row-container">
    <div *ngIf="this.owner === false">
      <a class="button smaller-button" mat-stroked-button routerLink="matchmaking"
         (click)="sendReady()">Ready</a>
    </div>
    <div *ngIf="this.owner === true">
      <a class="button smaller-button" mat-stroked-button routerLink="matchmaking"
         (click)="sendSampleSelectionOwner(selectedGenre, [yearDown, yearUp])">Start</a>
    </div>

    <a class="button smaller-button" mat-stroked-button routerLink="home"
       (click)="sendQuit()">Quit</a>
  </div>

</div>



