
.bg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  /*background-image: url("https://static.hitek.fr/img/up_m/1453509909/films.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://live.staticflickr.com/5043/5300777227_aa6cf1ab77_c.jpg");
}

.grid {
  display: flex;
}

.main {
  flex-basis: 100%;
  padding: 100px 0;
  background-color: rgba(196, 29, 29, 0.94);
}


h1 {
  font-family: Monoton;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
}

body {
  font-family: OpenSans;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.card{
  max-width: 500px;
  margin: 10px;
}

/*the end: https://www.vecteezy.com/vector-art/156687-classic-movie-end-screen-vector*/


