<div class="all-container">
  <a class="button" mat-stroked-button href="https://movie.graved.ch/oauth2/start">Login</a>

  <div class="text-container">

    <mat-card class="card-style">
      <mat-card-title class="text-color">What is MovieCupidon?</mat-card-title>
      <mat-card-content>
        <p class="text-color">
          MovieCupidon is a simple and light web-app to help you
          and your friends choose a film that everyone likes !
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-style">
      <mat-card-title class="text-color">How it works?</mat-card-title>
      <mat-card-content>
        <p class="text-color">
          First you log in by clicking the Login button.
          Once person creates a Lobby by pressing the create button and entering a username. That person shares the lobby token with everyone.
          Everyone else can just join by clicking the join Game button. Once everyone is in the game, the Owner of the lobby can choose 3 film categories
          and then start the game when everyone is ready! 
          Once in game you simply vote on every film by using the slider before the end of the timer.
          After everyone voted, the film with the highest score will be presented to you.
          Happy film time !
        </p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
