<div class="all-container">
  <a class="button" mat-stroked-button href="https://movie.graved.ch/oauth2/start">Login</a>

  <div class="text-container">

    <mat-card class="card-style">
      <mat-card-title class="text-color">What is MovieCupidon?</mat-card-title>
      <mat-card-content>
        <p class="text-color">
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-style">
      <mat-card-title class="text-color">How it works?</mat-card-title>
      <mat-card-content>
        <p class="text-color">
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
